// app global css in SCSS form
$primary: #4caf50; // Cor primária
$secondary: #ff9800; // Cor secundária
$accent: #8c9eff; // Cor de destaque
$dark: #1d1d1d; // Cor de fundo em tema escuro
$positive: #21ba45; // Cor para mensagens positivas
$negative: #c10015; // Cor para mensagens de erro
$info: #31ccec; // Cor para mensagens informativas
$warning: #f2c037; // Cor para mensagens de aviso
